.banner343 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100px;
  height: 100px;
  margin-bottom: 65px;
  overflow: hidden;
  background-image: url(../img/bg_banner_spring.jpg);
  background-size: cover;

  &-wrap {
    display: flex;
    align-items: center;
  }

  &-numbers {
    font-family: "Rubik", sans-serif;
    font-size: 34px;
    color: #008A9C;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
  }

  &-price {
    font-family: "Rubik", sans-serif;
    font-size: 34px;
    color: #008A9C;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    position: relative;
  }

  &-month {
    font-family: "Rubik", sans-serif;
    font-size: 34px;
    color: #FFFFFF;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    position: relative;
    margin: 0 20px;
    background-color: #FFA59F;
    border-radius: 5px;
    padding: 5px 12px;
  }

  &-off {
    position: relative;
    padding-left: 46px;
    z-index: 2;
  }
}